# my markdown snippets.
snippet labq "LabQ博客模板" !b
"=========== Meta ============
"StrID : 
"Title : 
"Slug : 
"Cats  :  Technology, Coding
"Tags  : 
"========== Content ==========
<!--markdown-->
endsnippet
